<div class="fragment_701">
	<div class="container">
		<div class="row gx-1">
			[#list 1..configuration.numberOfCards as index]
			<div class="col-4">
				<div class="card">
					<img class="card-img-top" data-lfr-editable-id="card-img-${index}" data-lfr-editable-type="image" src="" alt="">
					<div class="card-body">
						<h5 class="card-title" data-lfr-editable-id="card-title-${index}" data-lfr-editable-type="text">Title</h5>
						<p class="card-text" data-lfr-editable-id="card-text-${index}" data-lfr-editable-type="text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary" data-lfr-editable-id="button-link" data-lfr-editable-type="link">Go Somewhere</a>
					</div>
				</div>
			</div>
			[/#list]
		</div>
	</div>
</div>