
<div class="banner-center d-flex flex-column align-items-center justify-content-center text-center" data-lfr-background-image-id="background-image">
  <h1 class="mb-4" data-lfr-editable-id="heading" data-lfr-editable-type="rich-text">Main Heading</h1>
  <p class="mb-5" data-lfr-editable-id="subtitle" data-lfr-editable-type="rich-text">Short description about what the company products and services.</p>
  <a href="#" class="btn-primary py-3 px-5 font-weight-bold" data-lfr-editable-id="button-text" data-lfr-editable-type="link">Button Text</a>
</div>
