.slide-item {
  width: 310px;
}

.prevArrow,
.nextArrow {
  border: none;
  background-color: transparent;
  height: 48px;
  position: absolute;
  top: calc(50% - 24px);

  .line1,
  .line2 {
    width: 32px;
    height: 5px;
    background-color: #b3b3b3;
    border-radius: 4px;
    transition: 0.2s;
  }

  &:hover .line1,
  &:hover .line2 {
    background-color: #737373;
  }

  .line1 {
    transform: rotate(45deg) translateY(18px);
  }

  .line2 {
    transform: rotate(-45deg) translateY(-18px);
  }

  .line-wrapper {
    transform: translateX(25%);
  }
}

.prevArrow {
  left: -36px;
}

.nextArrow {
  transform: rotate(180deg);
  right: -36px;
}

// Custom Slick Carousel Dots
.slick-dots li {
  height: 12px;
  width: 12px;
  margin: 0 10px;

  button {
    height: 12px;
    width: 12px;

    &:before {
      height: 12px;
      width: 12px;
      background-color: black;
      border-radius: 6px;
    }
  }
}
