<div class="banner">
  <div class="row">

    <div class="hero-info col-lg-5 mb-5 mb-lg-0">
      <div class="block d-flex flex-column justify-content-lg-center align-items-center align-items-lg-start p-0">
        <h1 class="main-heading pe-lg-5 text-center text-lg-left mb-4 mb-lg-5" data-lfr-editable-id="heading" data-lfr-editable-type="rich-text">
          Desenvolvemos
          Pessoas,
          Softwares
          & Negócios
        </h1>
        <div class="d-flex align-items-center">
          <a href="#" class="banner-cta font-weight-bold mr-5" data-lfr-editable-id="cta-1" data-lfr-editable-type="link">Conheça a GX2</a>
          <a href="#" class="banner-cta-btn font-weight-bold py-3 px-3 px-sm-4" data-lfr-editable-id="cta-2" data-lfr-editable-type="link">Nossa Soluções</a>
        </div>
      </div>
    </div>

    <div class="hero-img col-lg-7">
      <div class="row">

        <div class="col-img col col-lg-6">
          <div class="block-img p-0">
            <img data-lfr-editable-id="img-1" data-lfr-editable-type="image" />
            <div class="gradient">
            </div>
          </div>
        </div>

        <div class="col-img col col-lg-3">
          <div class="block-img p-0">
            <img data-lfr-editable-id="img-2" data-lfr-editable-type="image" />
            <div class="gradient">
            </div>
          </div>
        </div>

        <div class="col-img col col-lg-3">
          <div class="block-img p-0">
            <img data-lfr-editable-id="img-3" data-lfr-editable-type="image" />
            <div class="gradient">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>